body {
  height: 100vh;
}
.App {
  text-align: center;
}
.Header {
  color: #000000;
  text-shadow: 1px 1px 5px #fff;
}
.list-group-item-action:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
/* write your parent styles in here for your App.js */
